{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- add record -->
<div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
        <br><br>
            <form name="resource_form" method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                <label for='class_title'>What class is this for? </label>
                <input type="text" name='class_title' id='class_title' placeholder = 'ex-403'>
                <br><br>
                <label for='resource'>What would you call this resource? </label>
                <input type="text" name='resource' id='resource' placeholder = 'ex-How to Deploy'>
                <br><br>
                <label for='link'>Where can this resource be found? </label>
                <input type="text" name='link' id='link' placeholder = 'paste the URL here'>
                <br><br><br>
                <button class = "btn btn-primary" type="submit">Add it to the database</button>
            </form>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}